Screen {
    overflow: hidden;
    border: round rgba(20, 20, 20, 0.4) 20%;
}

#FooterBtn-cont {
    dock: bottom;
    width: 100%;
    height: auto;
    border: none;
    padding-top: 1;
}

#FooterBtn-cont Button {
    height: 1;
    border: none;
    min-width: 8;
    padding: 0 1;
    margin: 0 2;
    background: rgba(67, 88, 88, 0.4);
    color: rgba(9, 166, 210, 0.77);
    text-align: center;
}

.hidden {
    display: none
}

#cli-corners {
    height: 1fr;
    width: 100%;
    border: hkey rgba(30, 168, 168, 0.94);
    overflow-y: scroll;
    scrollbar-size: 0 0;
}

#input-container {
    dock: bottom;
    margin-bottom: 2;
    height: 3;
    width: 100%;
    border-top: double rgb(34, 194, 194);
    border-bottom: double rgb(34, 194, 194);
    align: center middle;
    content-align: center middle;
}

#prompt-label {
    width: 1;
    height: 100%;
    content-align: center middle;
    color: rgb(233, 87, 25);
}

#user-input{
    height: 1fr;
    width: 100%;
    border: none;
    background: rgba(23, 34, 54, 0.3);
    color: white;
}

#menuCmds {
    height: auto; 
    max-height: 10;
    background: rgba(20, 20, 20, 0.4) 20%;
    border: round rgba(20, 20, 20, 0.4) 20%;
    dock:bottom;
    margin-bottom: 5;
    overflow-y: auto;
}