Screen {
    overflow: hidden;
    border: round rgba(20, 20, 20, 0.4) 20%;
}

#FooterBtn-cont {
    dock: bottom;
    width: 100%;
    height: auto;
    border: none;
}

#FooterBtn-cont Button {
    height: 1;
    border: none;
    min-width: 8;
    padding: 0 1;
    margin: 1 1;
    background: rgba(67, 88, 88, 0.4);
    color: rgba(9, 166, 210, 0.77);
    text-align: center;
}

.hidden {
    display: none
}

#cli-corners {
    height: 1fr;
    width: 100%;
    border: round rgba(0, 217, 255, 0.99);
    overflow-y: scroll;
    scrollbar-size: 0 0;
}

#input-container {
    dock: bottom;
    margin-bottom: 3;
    height: 3;
    width: 100%;
    border: round rgb(34, 143, 194);
}

#prompt-label {
    width: 2;
    height: 100%;
    content-align: center middle;
    color: rgb(233, 87, 25);
}

#user-input{
    height: 1fr;
    width: 100%;
    border: none;
    color: white;
}

#menuCmds {
    height: auto; 
    max-height: 10;
    background: $surface;
    border: solid $primary; 
    dock:bottom;
    margin-bottom: 6;
    overflow-y: auto;
}